[Desktop Entry]
Comment[en_US]=Grand Theft Auto:  Vice City
Comment[zh_CN]=
Comment=Grand Theft Auto:  Vice City
Exec=sudo /usr/bin/gtavc
GenericName[en_US]=Grand Theft Auto:  Vice City
GenericName[zh_CN]=Grand Theft Auto:  Vice City
GenericName=Grand Theft Auto:  Vice City
Icon=/usr/share/gtavc/app.ico
Name[en_US]=Grand Theft Auto: Vice City
name[zh_CN]=
Name=Grand Theft Auto: Vice City
Categories=Game;
StartupNotify=true
Terminal=true
Type=Application
